#allow recovery app_data_file:dir { getattr open read };
#allow recovery app_data_file:file { getattr };
#allow recovery dm_device:chr_file { ioctl open read };
#allow recovery hal_gatekeeper_hwservice:hwservice_manager { add find };
#allow recovery hal_keymaster_hwservice:hwservice_manager { add find };
#allow recovery hidl_base_hwservice:hwservice_manager { add };
#allow recovery hidl_manager_hwservice:hwservice_manager { add };
#allow recovery hidl_token_hwservice:hwservice_manager { add };
#allow recovery media_rw_data_file:dir { getattr open read };
#allow recovery mtp_device:chr_file { open write };
#allow recovery mtp_device:chr_file { read };
#allow recovery recovery:netlink_kobject_uevent_socket { read };
#allow recovery ringtone_file:dir { getattr open read };
#allow recovery ringtone_file:file { getattr };
#allow recovery rootfs:dir { add_name write };
#allow recovery rootfs:file { create setattr write };
#allow recovery seapp_contexts_file:file { getattr };
#allow recovery selinuxfs:file { write };
#allow recovery sysfs:dir { open read };
#allow recovery sysfs:file { getattr };
#allow recovery sysfs_dm:dir { open read search };
#allow recovery sysfs_dm:file { getattr open read };
#allow recovery system_ndebug_socket:sock_file { getattr };
#allow recovery vndservice_contexts_file:file { getattr };
