allow shell vendor_file:file { getattr };

allow shell healthd_exec:file { getattr };

allow shell hwservice_contexts_file:file { getattr };

allow shell idc_file:dir { getattr  open  read };
allow shell idc_file:file { getattr };

allow shell keylayout_file:dir { getattr  open  read };
allow shell keylayout_file:file { getattr };

allow shell mac_perms_file:file { getattr };

allow shell sysfs_capsense:dir { open  read  search };
allow shell sysfs_capsense:file { getattr };

allow shell sysfs:file { getattr };

allow shell sysfs_power:file { getattr };

allow shell sysfs_wake_lock:file { getattr };
